.total-amount-container {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  overflow: hidden;
  .total-amount-description {
    margin-bottom: 8px;
  }
  .total-sum {
    color: #575757;
    margin-bottom: 0;
  }
}