.btn-send {
  padding: 14px 0 18px;
  background-color: #FF9514;
  border-radius: 40px;
  color: #FFFFFF;
  font-family: Nekst, sans-serif;
  font-size: 30px;
  font-weight: 900;
  border: none;
  max-height: 68px;
  cursor: pointer;
  width: 31.7%;
  min-width: 345px;
  @media (max-width: 600px) {
    font-size: 22px;
    padding: 18px 51px;
    min-width: 280px;
    width: 100%;
  }
}