.main-page {
  padding: 213px 50px;
  text-align: left;
  max-width: 1346px;
  margin-left: auto;
  margin-right: auto;
  .main-title {
    font-family: Nekst, sans-serif;
    max-width: 673px;
    font-size: 54px;
    font-weight: 900;
    color: #111111;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .field-description {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    margin-bottom: 24px;
    line-height: 24px;
    display: inline-block;
  }
  .sliders-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
  }
  .totals-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}