.main-page {
  padding: 213px 47px;
  @media (max-width: 1196px) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  @media (max-width: 768px) {
    padding: 64px 36px 156px;
  }
  @media (max-width: 600px) {
    padding: 44px 21px 64px;
  }
  text-align: left;
  max-width: 1346px;
  margin-left: auto;
  margin-right: auto;
  .main-title {
    font-family: Nekst, sans-serif;
    max-width: 673px;
    font-size: 54px;
    font-weight: 900;
    color: #111111;
    line-height: 48px;
    margin-bottom: 32px;
    @media (max-width: 1196px) {
      margin-bottom: 44px;
    }
    @media (max-width: 600px) {
      font-size: 34px;
      margin-bottom: 32px;
      line-height: 30px;
    }
  }
  .field-description {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #575757;
    margin-bottom: 24px;
    line-height: 24px;
    display: inline-block;
    @media (max-width: 600px) {
      font-size: 14px;
      margin-bottom: 8px;
      color: #333E48;
    }
  }
  .sliders-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
    @media (max-width: 1196px) {
      flex-direction: column;
    }
    @media (max-width: 600px) {
      margin-bottom: 25px;
    }
  }
  .totals-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1196px) {
      flex-wrap: wrap;
    }
    @media (max-width: 710px) {
      flex-direction: column;
      align-items: start;
    }
  }
}