.slider-container {
  display: flex;
  flex-direction: column;
  max-width: 427px;
  width: 31.7%;
  @media (max-width: 1196px) {
    width: 100%;
    max-width: 1102px;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media (max-width: 1196px) {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .slider-block {
    background-color: #F3F3F4;
    padding: 16px 24px;
    border-radius: 16px;
    position: relative;
    pointer-events: none;
    &:focus-within {
      background-color: white;
      outline: 2px solid #F3F3F4;
    }
    @media (max-width: 600px) {
      padding: 16px 20px;
    }
    .chosen-value-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .chosen-value {
        font-family: Nekst, sans-serif;
        font-weight: 900;
        font-size: 30px;
        color: #575757;
        background-color: transparent;
        border: none;
        max-width: 170px;
        overflow: hidden;
        @media (max-width: 600px) {
          font-size: 22px;
          color: #333E48;
        }
      }
      .chosen-value-percentage {
        font-size: 20px;
        padding: 15px 17px;
        background-color: #EBEBEC;
        border-radius: 16px;
        max-width: 45px;
        display: flex;
        pointer-events: auto;
        @media (max-width: 1196px) {
          padding: 14px;
        }
        .percentage-input {
          max-width: 24px;
          font-size: 20px;
        }
      }
      .input-element {
        pointer-events: auto;
        &:focus {
          outline: none;
        }
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number] {
        -moz-appearance: textfield;
      }
    }
    .slider {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      position: absolute;
      max-width: 88.7%;
      bottom: -1px;
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 2px;
      background: #FF9514;
      outline: none;
      -webkit-transition: .2s;
      transition: opacity .2s;
      pointer-events: auto;
      &:hover {
        height: 1px;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #FF9514;
        cursor: pointer;
        border-radius: 20px;
      }
      &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #FF9514;
        cursor: pointer;
      }
    }
  }
  .slider-block-small-paddings {
    padding: 7px 7px 7px 24px;
    align-items: center;
  }
  .slider-disabled {
    background-color: #F3F3F4;
    opacity: 0.4;
  }
}